* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #555;
    padding: 20px 80px;
}

.flex {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background: lightblue;
    gap: 15px;
    padding: 30px 20px;
}

.flex .box {
    position: relative;
    width: 25%;
    height: 90%;
    background: #e2c;
    padding: 20px 20px;
}
.flex .box:nth-child(2) {
    position: relative;
    width: 70%;
    height: 90%;
    display: flex;
    gap: 10px;
    padding: 0 20px;
    background: #111;
}
.flex .box:nth-child(2) .col {
    position: relative;
    width: 50%;
    height: 100%;
    background: red;
}
h2 {
    color: black;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 30px;
}
span, strong {
    color: green;
    font-style: italic;
}
p {
    color: white;
    font-size: 24px;
    padding: 10px 10px;
}
button {
    position: relative;
    width: 200px;
    height: 35px;
    border-radius: 20px;
    background: green;
    color: white;
    margin: 20px 10px;
}
img {
    position: relative;
    width: 100%;
    height: 50%;
    padding: 20px 0;
}