*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #000; 
    color: #fff;
    z-index: 1;
    background-attachment: fixed;
}
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
}
header .top-header {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    padding: 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.top-header .logo {
    position: relative;
    font-size: 30px;
    font-weight: bold;
}
.top-header nav {
    position: relative;
    color: white;
    font-size: 16px;
    display: flex;
    gap: 20px;
}
.top-header nav a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.top-header nav a:hover {
    position: relative;
    text-decoration: none;
    color: crimson;
}
header .hero {
    position: absolute;
    height: auto;
    width: 80%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
header .hero img {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 10px;
}
header .hero h1 {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
header .hero h1 .name {
    position: relative;
    color: crimson;

}
header .hero p {
    position: relative;
    font-size: 20px;
    margin-bottom: 8px;

}
button {
    position: relative;
    height: 45px;
    width: 150px;
    background-color: crimson;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}
button:hover {
    background: transparent;
    color: #fff;
    border: 2px solid crimson;
}
section {
    position: relative;
    height: auto;
    width: 100%;
    padding: 50px 140px;
    background-color: #080125;
}

/* ////////////////////////////// */
/* ////////////////////////////// */

.about {
    position: relative;
    height: auto;
    width: 100%;
    color: #fff;
}
.flex-div {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.col:first-child img {  
    position: relative;
    height: 300px; 
    width: 300px; 
    object-fit: cover;
    object-position: top;
}
.col:nth-child(2) {
    position: relative;
    height: auto;
    width: 500px;
    color: #fff;
}
.about-data {
    position: relative;
    height: auto;
    width: 500px;
    border: 2px solid crimson;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    gap: 10px;
    justify-content: center;
}

.about-flex-data {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    color: orangered;
    font-size: 15px;
}
.about-flex-data .head {
    position: relative;
    font-weight: bold;
}
.about-flex-data .subtitle {
    position: relative;
    color: #fff;
}
.service {
    position: relative;
    height: auto;
    width: 100%;
    padding: 20px 0;
    color: crimson;
}
.service .flex {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px ;
    justify-content: center;
}
.service .flex .col2 {
    position: relative;
    height: 130px;
    width: 250px;
    border: 2px solid crimson;
    border-radius: 10px;
    padding: 10px 15px;
}
.service .flex .col2 h2 {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 18px;
    margin-bottom: 10px;
    color: orangered;
}
.service .flex .col2 p {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #fff;
    text-align: left;
}
.contact {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
}
.contact h5 {
    position: relative;
    font-weight: bold;
    color: orangered;
    font-size: 24px;
}
.contact h3 {
    font-weight: bold;
    font-size: 36px;
    padding: 10px 0;
}
.contact p {
    font-size: 18px;
    padding-bottom: 5px;
}
.contact input {
    position: relative;
    height: 45px;
    width: 350px;
    border: 1px solid black;
    border-radius: 15px;
}
.contact button:hover {
    position: relative;
    color: #000;
}
footer {
    position: relative;
    height: 40px;
    width: 100%;
    display: flex;
    gap: 30px;
    background-color: rgba(0,0,0, 0.5);
    padding: 0 160px;
    align-items: center;
    justify-content: space-between;

}
footer ul {
    position: relative;
    display: flex;
    height: auto;
    width: 100px;
    gap: 20px;
}
footer p {
    position: relative;
    font-size: 30px;    
    font-weight: bold;
}

